target
classes
bin
*.log
dist
node_modules

# Eclipse
.classpath
.project
.settings
.metadata

# IntelliJ IDEA
*.iml
*.ipr
*.iws
*/.idea
*/build
out
generated
MANIFEST.MF

#gradle
**/gradle
**/.gradle
*/gradlew
**/build
*.gradle
**/gradlew*
**/gradle/*
#text repos
data

*.db

# Static files
*.jpg
*.png
*/dataset

# Visual Studio
**/.vs/
**/bin/
**/obj/